<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/earth.css">
  <link rel="icon" type="image/png" href="/assets/avatar.png"/>
  <!--<div class="h-card" style="display: none;">
    <img class="u-photo" src="https://draft730.fyi/avatar.png"/>
    <a class="u-url" href="https://draft730.fyi/" rel="me"></a>
    <span class="p-name">Azalea M.</span>
    <div class="p-note">mrrrp</div>
    <a class="u-email" rel="me" href="mailto:azalea@purelymail.com"></a>
  </div>-->
</head>
<body>
    <div class="blog-content">
        {{ content | safe }}
    </div>
    <br>
  <footer>
    <small><a href="https://draft730.fyi">home</a> | <a href="https://draft730.fyi/colophon">colophon</a> | <a href="https://blog.draft730.fyi">blog</a> | <a href="https://draft730.fyi/contact">contact</a></small>    <small>steal this <a href="https://coolors.co/1f2421-203533-214f4e-216869-358471-49a078-9cc5a1-bcd3c0-dce1de">color scheme</a> or this <a href="/assets/earth.css">style sheet</a></small>
    <small>copyright 2026 draft730</small>
  </footer>
</body>
</html>
